<div class="navbar navbar-dark bg-primary">
    <div class="container-fluid">
        <h1 style="color: black;font-family: Verdana, Geneva, Tahoma, sans-serif;">Baseball Event</h1>
        <a class="nav-link" routerLink="bookEvent" style="color: black; font-size: 20px;">Book Event</a>
        <a class="nav-link" href="/viewBooking" style="color: black; font-size: 20px;">View Booked Event</a>
        <div class="d-flex">
            <button class="btn btn-danger">Logout</button>
        </div>
    </div>
</div>
<router-outlet></router-outlet>

<div class="container">
    <div class="row">
        <div class="card " id="eventGrid" >
            <img src="http://byrl.me/baseball" class="card-img-top " alt="...">
            <div class="card-body">
                <h5 class="card-title text-center">Oracle Park</h5>
                <div class="d-flex">
                    <p class="card-text mx-4">Place: San Franci</p>
                    <a href="#" class="btn btn-sm btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="card " id="eventGrid" >
            <img src="http://byrl.me/baseball" class="card-img-top " alt="...">
            <div class="card-body">
                <h5 class="card-title text-center">Oracle Park</h5>
                <div class="d-flex">
                    <p class="card-text mx-4">Place: San Franci</p>
                    <a href="#" class="btn btn-sm btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="card " id="eventGrid" >
            <img src="http://byrl.me/baseball" class="card-img-top " alt="...">
            <div class="card-body">
                <h5 class="card-title text-center">Oracle Park</h5>
                <div class="d-flex">
                    <p class="card-text mx-4">Place: San Franci</p>
                    <a href="#" class="btn btn-sm btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="card " id="eventGrid" >
            <img src="http://byrl.me/baseball" class="card-img-top " alt="...">
            <div class="card-body">
                <h5 class="card-title text-center">Oracle Park</h5>
                <div class="d-flex">
                    <p class="card-text mx-4">Place: San Franci</p>
                    <a href="#" class="btn btn-sm btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="card " id="eventGrid" >
            <img src="http://byrl.me/baseball" class="card-img-top " alt="...">
            <div class="card-body">
                <h5 class="card-title text-center">Oracle Park</h5>
                <div class="d-flex">
                    <p class="card-text mx-4">Place: San Franci</p>
                    <a href="#" class="btn btn-sm btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="card " id="eventGrid" >
            <img src="http://byrl.me/baseball" class="card-img-top " alt="...">
            <div class="card-body">
                <h5 class="card-title text-center">Oracle Park</h5>
                <div class="d-flex">
                    <p class="card-text mx-4">Place: San Franci</p>
                    <a href="#" class="btn btn-sm btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
</div>
